html{
    font-size: 20px;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

section{
    width: 100%;
    height: 20vh;
}
section nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 100;
}


section nav .logo img{
    width: 150px;
    cursor: pointer;
    margin: 4px 0;
}

section nav ul{
    list-style: none;
}

section nav ul li{
    display: inline-block;
    margin: 0 15px;
}
section nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
}

section nav ul li a::after{
    content: '';

    width: 0;
    height: 3px;
    background: #fac031;
    display: block;
    transition: 0.2s linear;
}

section nav ul li a:hover::after{
    width: 100%;
}

section nav ul li a:hover{
    color: #fac031;
}

section nav .icon i{
    font-size: 18px;
    color: #000;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

section nav .icon i:hover{
    color: #fac031;
}
.progress-bar {
    display: flex;
    margin-top: 100px;
    margin-bottom: 5px;
    justify-content: space-around;
}

.step {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    display: block;
    width: 25px;
    height: 25px;
    margin-bottom: 30px;
    border: 4px solid #fff;
    border-radius: 50%;
    background-color: #efefef;
}

.step:after {
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 22px;
    width: 300px;
    height: 6px;
    content: '';
    background-color: #efefef;
}

.step:before {
    color: #2e2e2e;
    position: absolute;
    top: 40px;
}

.step:last-child:after {
    content: none;
}

.step.active {
    background-color: #f62f5e;
}
.step.active:after {
    background-color: #f62f5e;
}
.step.active:before {
    color: #f62f5e;
}
.step.active + .step {
    background-color: #f62f5e;
}
.step.active + .step:before {
    color: #f62f5e;
}

.step:nth-child(1):before {
    content: 'Delivery';
}
.step:nth-child(2):before {
    right: -40px;
    content: 'Payment';
}
.step:nth-child(3):before {
    right: -30px;
    content: 'Confirmation';
}


section nav .logo img {
  width: 150px;
  cursor: pointer;
  margin: 4px 0;
}