section {
    width: 100%;
    height: 10vh;
}

section nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

section nav .logo img {
    width: 150px;
    cursor: pointer;
    margin: 4px 0;
}

section nav ul {
    list-style: none;
}

section nav ul li {
    display: inline-block;
    margin: 0 15px;
}

section nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
}

section nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #fac031;
    display: block;
    transition: 0.2s linear;
}

section nav ul li a:hover::after {
    width: 100%;
}

section nav ul li a:hover {
    color: #fac031;
}

section nav .icon i {
    font-size: 18px;
    color: #000;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

section nav .icon i:hover {
    color: #fac031;
}

/* End of Nav styles

/*Footer*/

footer {
    width: 100%;
    padding: 15px 0 0 12px;
    background: #eeeeee;
}

footer .footer_main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

footer .footer_main .footer_tag {
    text-align: center;
}

footer .footer_main .footer_tag h2 {
    color: #000;
    margin-bottom: 15px;
    font-size: 17px;
}

footer .footer_main .footer_tag p {
    margin: 5px 0;
    font-size: 15px;
}

footer .footer_main .footer_tag i {
    margin: 0 3px;
    cursor: pointer;
}

footer .footer_main .footer_tag i:hover {
    color: #fac031;
}

footer .end {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}

footer .end span {
    color: #fac031;
    margin-left: 10px;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    background: #fac031;
    border-radius: 15px;
}

/* Main colors */
:root {
    --primary-color: black;
    --secondary-color: #ebebeb;
    --accent-color: #ffbf00;
}

/* Card styles */
.card {
    border: 1px solid var(--secondary-color);
    margin: 10px;
    padding: 60px;
    width: 600px;
    height: 600px;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.card h2 {
    margin-top: 0;
    color: var(--primary-color);
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.card p {
    margin-bottom: 0;
    color: var(--primary-color);
    font-size: 28px;
    line-height: 1.5;
}

.card button {
    background-color: var(--accent-color);
    border: none;
    color: white;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.card button:hover {
    background-color: #ffcc00;
}

 header {
     text-align: center;
     font-size: 100px;
     color: BlACK;
     font-family: 'Trebuchet MS';
 }

h1 {
    text-align: center;
    font-size: 150px;
    color: BLACK;
    font-family: 'Trebuchet MS';
}

.ordersContainer {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 10px 50px 15px 50px;
}